@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); 

h1 {
    font-family: 'Tangerine', cursive;
    font-size: 300%;
}

h2 {
    font-family: 'Lato', sans-serif; 
    font-size: 90%; 
    padding: 2%;   
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .page-names {
    /* color: var(--label-color); */
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    margin-right: 20px;
    user-select: none;
    cursor: pointer;
    font-weight: 500;
    margin-right: 5%;
  }
